@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

.tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: bolder;
    font-style: normal;
}

/* Home.css */
.d-block {
    display: block;
    width: 100%;
    margin-top: 8%;
}

/* Responsive adjustments */
@media (max-width: 768px) { 
    .row-cols-2 {
        flex-direction: column;
    }

    .col {
        margin-top: 2rem;
    }
}

@media (max-width: 576px) { 
    .col {
        margin-top: 1rem;
    }
}

.home-container {
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border: 3px solid #b6c4c8; 
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 60px; 
    background-color: #F4F1DE; 
    border-radius: 15px; 
}

.home-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
}

.home-col {
    flex: 1;
    min-height: 30%;
    width: 45%;
    padding: 20px;
    transition: transform 0.3s ease;
    border-radius: 35px; 
}

.home-col:hover {
    transform: scale(1.05);
}

.home-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #3D405B; 
}

.home-text {
    font-family: 'Platypi', sans-serif;
    color: #3D405B; 
}

.home-title {
    color: #3D405B; 
    font-size: 2.5rem;
    margin-top: 20px;
    padding-top: 20px;
}

.home-subtitle {
    color: #3D405B; 
    font-size: 1.25rem;
    margin-top: 10px;
}

.home-text:hover {
    color: #81B29A; 
}
