.root1{
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20240104/pngtree-sketch-line-shapes-create-a-fresh-abstract-seamless-texture-for-wallpaper-image_13884044.png');
    background-repeat: no-repeat;
    background-size: cover;
}